<%- include("partials/header") %>

    <div class="container mt-5">
        <div class="row">
            <!-- Book Cover -->
            <div class="col-md-3 text-center">
                <img id="book-cover" src="<%= book.coverImage %>" alt="Book Cover" class="img-fluid w-100 h-60 rounded shadow mb-3">
            </div>
            
            <!-- Book Details -->
            <div class="col-md-9">
                <h2 id="book-title" class="text-light mb-2"><%= book.title %></h2>
                <p class="text-muted mb-2"><strong>Author:</strong> <span id="book-author"><%= book.author %></span></p>
                <p class="text-muted mb-2"><strong>Published:</strong> <span id="book-year"><%= book.publishYear %></span></p>
                <p class="text-muted mb-2"><strong>Categories:</strong> <span id="book-categories"><%= book.category %></span></p>
                <p class="text-muted"><strong>Description:</strong> <span id="book-summary"><%= book.summary %></span></p>
                
                <!-- Notes Section -->
                <div class="mt-4">
                    <h5 class="text-light mb-3">Add Your Note</h5>
                    <form action="/save" method="POST">
                        <!-- Rating Input -->
                        <div class="form-group">
                            <label for="rating">Rating:</label>
                            <select name="rating" id="rating" class="form-control">
                                <option selected disabled>Choose rating</option>
                                <% for (let i = 1; i <= 10; i++) { %>
                                    <option value="<%= i %>" <%= locals.details.rating == i ? 'selected' : '' %>><%= i %></option>
                                <% } %>
                            </select>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="note">Note:</label>
                            <textarea name="note" id="note" class="form-control" placeholder="Add your notes here..."><%= locals.note.note %></textarea>
                        </div>
                        <br>
                        <input type="hidden" name="id" id="book" value="<%= book.id %>">
                        <input type="submit" id="save" name="save" class="btn btn-primary" value="Save Note"/>
                    </form>
                </div>
            </div>
        </div>
    </div>

<%- include("partials/footer") %>